
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "@fontsource/courgette";
@import "@fontsource/handlee";
@import "@fontsource/alex-brush";
@import "@fontsource/poppins";
@import "@fontsource/dancing-script";
@import "@fontsource/quattrocento";
@import "@fontsource/quattrocento-sans";
@import "@fontsource/montserrat";
@import '@fontsource/sedgwick-ave';
@import '@fontsource/press-start-2p';
@import '@fontsource/limelight';

#rodrillas-wallpaper{
	background-size: cover;
	padding:160px 0px 140px;
	background-image: url('/fondo_rodrillas.png');
	font-family:"Handlee";
    border-radius: 0px;
}

#rodrillas-wallpaper2{
	background-size: cover;
	padding:160px 0px 140px;
	background-image: url('/fondo_campo.png');
	background-position:bottom;
	font-family:"Handlee";
    border-radius: 0px;
}

#wallpaper_camp{
	background-image:url('/fondo_campo.png');
}


#rodrillas-artboard{    
	position: relative;
    padding: 20px 20px 10px;
	margin-top:20px;
    font-size: 24px;
    line-height: 28px;
}

.carpaventura-text{
	opacity:0;
	transform:scale(1.5);
}


.rodrillas-text-div{
	position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
}

.rodrillas-text{
	opacity:1;
	height:100%;
	width:auto;
	transform:scale(0);
}


.border-b{
	border-bottom-width:1px;
	border-bottom-style:solid;
}

.text-shadow-sky{
	text-shadow: 2px 2px 5px #9cd8f7;
}

.text-alex{
	font-family:"Alex Brush";
}


.text-courgette{
	font-family:"Courgette";
}

.text-poppins{
	font-family:"Poppins";
}

.text-handlee{	
	font-family:"Handlee";
}


.text-montserrat{	
	font-family:"Montserrat";
}

.text-quattro-sans{	
	font-family:"Quattrocento Sans";
}

.text-quattro{	
	font-family:"Quattrocento";
}

.text-dancing{
	font-family:"Dancing Script";
}

.text-sedgwick{
	font-family:"Sedgwick Ave";
}
.text-press{
	font-family: 'Press Start 2P';
}

.text-limelight{
	font-family: 'Limelight';
}


:root{
	font-size:17px;
}
